.profile h3 {
    position: absolute;
    width: 12.25rem;
    height: 1.6rem;
    left: 6.2rem;
    top: 12.5rem;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;

    color: #837E9F;

}
.profile p {
    position: absolute;
    width: 8rem;
    height: 1rem;
    left: 7.1rem;
    top: 15rem;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;


    color: #837E9F;
}
.meetMe{
    margin: 0.3rem;
    position: absolute;
    width: 15rem;
    height: 6rem;
    left: 4rem;
    top: 1.5rem;
}
#city, #github, #linkedin, #twitter, #email{
    width: 15rem;
    height: 2.9rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;

    color: #837E9F;
}
.links img{
    margin: 0.33rem;
    position: relative;
    width: 2rem;
    height: 2rem;
    left: 0.5rem;
    top: 1rem;
}
.tecno h3{
    position: absolute;
    width: 7.5rem;
    height: 1.6rem;
    left: 0.9rem;
    top: 1.5rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

    color: #837E9F;
}
.left{
    position: relative;
    width: 6.3rem;
    height: 0.7rem;
    left: 1rem;
    top: 3.5rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    text-align: center;
    color: #000000;

}
.quite {
    position: absolute;
    width: 6.3rem;
    height: 0.7rem;
    left: 8rem;
    top: 3.5rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    text-align: center;

    color: #000000;
}
.rigth{
    position: absolute;
    width: 6.3rem;
    height: 0.7rem;
    left: 15rem;
    top: 3.5rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    text-align: center;

    color: #000000;
    
}
.tecno p{
    height: 2rem;
    width: 6rem;
    background: #CB92B1;
    border-radius: 1.8rem;
    margin: revert;
}
.education h3{
    position: absolute;
    width: 7.5rem;
    height: 1.6rem;
    left: 0.9rem;
    top: 1.5rem;
    
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
     
    color: #837E9F;
    
}
.education ul {
    position: absolute;
/*  width: 16rem;
    height: 15.3rem; */
    left: 5rem;
    top: 5rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #837E9F;
}
.my_projects p {
    position: absolute;
    width: 8.75rem;
    height: 1.6rem;
    left: 2rem;
    top: 2rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    
    color: #837E9F;
}
.my_projects a {
    position: absolute;
    width: 4.4rem;
    height: 1.1rem;
    left: 50rem;
    top: 2rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.12rem;

    color: #837E9F;
}
.project1 p {
    width: 6rem;
    height: 1.1rem;
    top: 9rem;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.12rem;
    
    color: #837E9F;
}
#lang{
    position: absolute;
    left: 14rem;
}
#uage{
    position: absolute;
    left: 22rem;
}
#boxTs {
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 12.5rem;
    top: 9rem;
    border-radius: 2rem;
    background: #3178c6;
    border: 2px solid #837E9F;
}
#boxHtml {
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20.5rem;
    top: 9rem;
    border-radius: 2rem;
    background: #e34c26;
    border: 2px solid #837E9F;
}
.proOne {
    width: 12rem;
    height: 2rem;
    position: absolute;
    left: 0.9rem;
    top: 9rem;


}
.project1 h3 {
    position: absolute;
    width: 15.6rem;
    height: 1.12rem;
    left: 3rem;
    top: 0.9rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #837E9F;
}
.project1 h4 {
    position: absolute;
    width: 20rem;
    height: 1.18rem;
    left: 3rem;
    top: 3rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #837E9F;
}