.profile h3 {
    position: absolute;
    width: 12.25rem;
    height: 1.6rem;
    left: 6.2rem;
    top: 12.5rem;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;

    color: #837E9F;

}
.profile p {
    position: absolute;
    width: 8rem;
    height: 1rem;
    left: 7.1rem;
    top: 15rem;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;


    color: #837E9F;
}
.meetMe{
    margin: 0.3rem;
    position: absolute;
    width: 15rem;
    height: 6rem;
    left: 4rem;
    top: 1.5rem;
}
#city, #github, #linkedin, #twitter, #email{
    width: 15rem;
    height: 2.9rem;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;

    color: #837E9F;
}
.links img{
    margin: 0.33rem;
    position: relative;
    width: 2rem;
    height: 2rem;
    left: 0.5rem;
    top: 1rem;
}
.skills {

}