.profile img {
    box-sizing: border-box;     

    position: absolute;
    width: 8rem;
    height: 8.4rem;
    left: 7.1rem;
    top: 2.5rem;
    border-radius: 9rem;
    border: 2px solid #00FF00;
}

.post img {
    box-sizing: border-box;
    width: 7rem;
    height: 7.4rem;
    margin: 1.5rem;
    border-radius: 9rem;
}
.folderP1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1rem;
    top: 0.8rem;
    
}
.folderP2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1rem;
    top: 0.8rem;
    
}