.profile img {
    box-sizing: border-box;     

    position: absolute;
    width: 8rem;
    height: 8.4rem;
    left: 7.1rem;
    top: 2.5rem;
    border-radius: 9rem;
    border: 2px solid #00FF00;
}

.post img {
    box-sizing: border-box;

    position: relative;
    width: 10%;
    height: 25%;
    left: 150px;
    top: 72px;
    
    border-radius: 50%;
}