*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container {
    position: relative;
    width: 98.4vw;
    height: 225vh;
    
    background: #22212C;
    border: 2px solid #200fe2;
}
.box {
    border: 2px solid #29888b;
    
}
.profile {
    position: absolute;
    width: 21.75rem;
    height: 18.25rem;
    left: 1rem;
    top: 1rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.links {
    position: absolute;
    width: 21.75rem;
    height: 21.75rem;
    left: 1rem;
    top: 21.06rem;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.tecno {
    position: absolute;
    width: 21.75rem;
    height: 13rem;
    left: 1rem;
    top: 44.6rem;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    }

.education {
    position: absolute;
    width: 21.75rem;
    height: 21.81rem;
    left: 1rem;
    top: 59.6rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.my_projects {
    position: absolute;
    width: 59.5rem;
    height: 5.3rem;
    left: 24.06rem;
    top: 1.18rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.project1 {
    position: absolute;
    width: 28.8rem;
    height: 11.6rem;
    left: 24.06rem;
    top: 8.5rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.project1_low {

}
.project2 {
    position: absolute;
    width: 28.8rem;
    height: 11.6rem;
    left: 54.7rem;
    top: 8.5rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.recentPosts {
    position: absolute;
    width: 59.5rem;
    height: 5.3rem;
    left: 24.06rem;
    top: 22rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.post {
    position: absolute;
    width: 59.5rem;
    height: 12.5rem;
    left: 24.06rem;
    top: 29.5rem;
    
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.project2_low {

}
footer {
    position: absolute;
    width: 13.8rem;
    height: 1.2rem;
    left: 38.5rem;
    top: 84.3rem;
    
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    
    color: #837E9F;
}
/*
@media only screen and (max-device-width: 900px) {
    .body { width:100%; }
}
*/